:root {
  --canvas: #2ecc71;
  --table-yellow: #f4d03f;
  --card-white: #fdfefe;
  --card-red: #e74c3c;
  --card-black: #1c2833;
  --card-grey: #566573;
  --suit-size: 5rem;
}

body {
  font-family: "Heebo", sans-serif;
  color: #2c3e50;
  background: var(--canvas);
  text-align: center;
}

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 5rem;
  margin: 1rem;
}

.playing-card {
  color: var(--card-black);
  display: inline-block;
  height: 9rem;
  width: 5.5rem;
  background-color: var(--card-white);
  border-radius: 0.5rem;
  margin: 0.6rem;
  font-size: 1rem;
  text-align: center;
  border: 0.15rem solid var(--card-black);
  outline: 0.1rem solid var(--card-grey);
  outline-offset: -0.6rem;
}

.card-text {
  top: 0.7rem;
  position: relative;
  text-transform: capitalize;
}

.hearts .card-text {
  color: var(--card-red);
}

.diamonds .card-text {
  color: var(--card-red);
}

.hearts:after {
  display: block;
  content: " \2665";
  color: var(--card-red);
  font-size: var(--suit-size);
}

.diamonds:after {
  display: block;
  content: " \2666";
  color: var(--card-red);
  font-size: var(--suit-size);
}

.clubs:after {
  display: block;
  content: " \2663";
  color: var(--card-black);
  font-size: var(--suit-size);
}

.spades:after {
  display: block;
  content: " \2660";
  color: var(--card-black);
  font-size: var(--suit-size);
}

.player-container {
  margin-bottom: 3rem;
}

.score {
  display: inline-block;
  vertical-align: bottom;
  width: 5.5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  color: var(--card-white);
  background-color: var(--card-black);
  border-radius: 0.5rem;
  font-size: 3rem;
  border: 0.15rem solid var(--card-white);
  margin: 0.6rem;
}

.cards {
  display: inline-block;
  border: 0.2rem solid var(--table-yellow);
  border-radius: 0.3rem;
}
